<div class="container">
  <ul>
    <li class="task" ng-repeat="task in todo.tasks track by $index">
      <div class="task-col">
        <div class="task__date-container">
          <span class="task__date task__date--day">{{task.date | date : 'dd'}}</span>
          <span class="task__date task__date--month">{{task.date | date : 'MMM'}}</span>
        </div>
      </div>
      <div class="task-col task-col--details">
        <div class="task-details">
          <h2 class="task-details__task">{{task.task}}</h2>
          <div class="task-sub-details">
            <div class="user-container">
              <p class="user">
                <i class="user__icon fa fa-user"></i>
                {{task.person}}
              </p>
              <ul class="tags">
                <li class="tags__tag-list" ng-repeat="tag in task.tags">
                  <span class="tags__item">{{tag}}</span>
                </li>
              </ul>
            </div>
            <p class="location"><i class="glyphicon glyphicon-map-marker location__icon"></i>{{task.location}}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>
